</br>
</br>
<div ng-controller="CoachController" ng-init="get_coaches()" class="container" id="mbc" style="position:relative;">
	<center><h1>Mastery Based Coaching</h1><br>
    To start, please select a coach from the boxes below 
    <br>
    <br>

	<div class="row-fluid">
		<table style="border:1px solid black;border-collapse:collapse;">
			<tr>
			<th style="border:1px solid black;">Table header</th><th style="border:1px solid black;">Table header</th>
			</tr>
			<tr>
			<td style="border:1px solid black;">Table cell 1</td><td style="border:1px solid black;">Table cell 2</td>
			</tr>
			</table>


<!-- Ideally, this should check if the database has successfully captured the school data and return error message(s) if unsuccessful--> 


	</div>
<div>
