</br>
<div class="container" id="tourncreate"style="position:relative;">
	<center><h2>Tournament Creation</h2></center>
	</br>
	</br>
	<!--Title input field-->
	<div class="row-fluid">
		<div class="span12">
			<div class="span1"></div>
			<div class="span2">
				Title
			</div>
			<div class="span9">
				 <input class="span8" type="text" ng-model="tournntitle" placeholder="Enter tournament title here" ></input>
			</div>
		</div>	
	</div>
	
	<!--Tournament type selection-->
	<div class="row-fluid">
		<div class="span12">
			<div class="span1"></div>
			<div class="span2">
				Type
			</div>
			<div class="span9">
				 <div class="span8">
				  <label>
				    <input type="radio" name="tournType" id="optionsRadios1" value="individual" checked>
				    Individual
				  </label>
				  <label>
				    <input type="radio" name="tournType" id="optionsRadios2" value="group">
				    Group
				  </label>
				</div>
			</div>
		</div>	
	</div>

	<!--Max number of group-->
	<div class="row-fluid">
		<div class="span12">
			<div class="span1"></div>
			<div class="span2">
				Max no. of groups
			</div>
			<div class="span9">
				 <select ng-model="maxNumGrps" ng-options="numgrp for numgrp in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]"></select>
			</div>
		</div>	
	</div>

	<!--Max number of players per group-->
	<div class="row-fluid">
		<div class="span12">
			<div class="span1"></div>
			<div class="span2">
				Max no. of players per group
			</div>
			<div class="span9">
				 <select ng-model="maxNumPlayersPerGrps" ng-options="maxnumplayers for maxnumplayers in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]"></select>
			</div>
		</div>	
	</div>

	</br>
	</br>
	<!--Rounds adding-->
	<div class="row-fluid">
		<div class="span12">
			<div class="span1"></div>
			<div class="span2">
				<b><u>Rounds</u></b>
			</div>
			<div class="span9">
				<div class="span8">
				</div>
			</div>
		</div>	
	</div>

	<!--Rounds adding button-->
	<div class="row-fluid">
		<div class="span12">
			<div class="span1"></div>
			<div class="span2">
				<button class="btn btn-primary" type="button">+Add</button>
			</div>
		</div>	
	</div>

	<!--Create & Save button-->
	<div class="row-fluid">
		<div class="span12">	
				<center><button class="btn btn-primary" id="save" type="button">Save</button>
				<button class="btn btn-primary" id="create" type="button">Create</button></center>
		</div>	
	</div>

</div>

