</br>
<div class="container" id="manageTournament" style="position:relative;">
	<center><h2>My Tournaments</h2></center>
	</br>
	<div class="row-fluid">
		<div class="span12"><b>Tournament by you</b>
			&nbsp;
			<button class="btn btn-primary" type="button" onClick="parent.location='#/mytournaments-create'">+ Create Tournament </button>
		</div>
	</div>
	</br>
	<div class="row-fluid">		
		<div class="span12 well well-small">	
			Tournament Title:
			</br>Tournament Type:
			</br>No. of Registered Users:
			</br>Last Changes Made:
			</br>
			</br><button class="btn btn-primary" type="button" onClick="parent.location='#/mytournaments-manage'">Manage </button>
		</div>
	</div>
</div>