
<html ng-app>
  <head>
    <script src="http://code.angularjs.org/1.2.3/angular.min.js"></script>
  </head>
  <body>


<table border = '1' align = 'center'>

	<tr>
		<td colspan ='3'> <h1><center> title <center></h1>
		</td>
	</tr>

	<tr>
		<td colspan = '3'>
			<embed
			width="420" height="345"
			src="http://www.youtube.com/v/XGSy3_Czz8k"
			type="application/x-shockwave-flash">
			</embed>		
		</td>
	</tr>

	<tr>
		<td colspan = '3'> How much can you appreciate from this video " 
		</td>
	</tr>

	<tr>
		<td> Alot
		</td>
		<td>
			<center>
				<input type="range" width = 40%
					   min="0"
					   max="6"
					   step="1"
					   value="3"
					   onclick="enableButton2()" >
			<center>
		</td>
	
		<td>
		  none
		</td>	
	</tr>
	<tr>
		<td colspan ='3'>
			<center> <input type="button" id="nextVideo" value="Next" disabled /> </center>
	</tr>
	
	
</table>



<script>
        function enableButton2() {
            document.getElementById("nextVideo").disabled = false;
        }
</script>


</body>
