



 

  <br> <center> <h1> Purpose Driven Videos</h1> </center> 

<div class="container" style="position:relative;">
	<div class="row-fluid">
		<center> 
			<table border = '1' width = 50%>
				<tr>
					<th height = 30%> 
						<img  src = "img/purposedrivenPlaceholder/PurposeDriven.jpg" height = '400px' </img>
					</th> 
				</tr> 
			</table> 
		</center> 
		
	</div>
<div>



  	<div data-ng-controller="PurposeDrivenController" > 
 {{ myVideos[0].vStatus }} {{ myVideos[1].vStatus }} {{ myVideos[2].vStatus }} {{ myVideos[3].vStatus }}
	<center>
	Select a video to view !


		<table border = '1' width = 50%> 
			<tr>
				<td width =  10% >
						<a href = "#/purposedriven-play?v=1" > <IMG ng-src="{{ myVideos[0].img }}" width = '150px' > </IMG> </a>	
				
										
				</td>
				<td width =  10%>

					
					<a href = "#/purposedriven-play">  <IMG ng-src="{{ myVideos[1].img }}" width = '150px' > </IMG> </a>		
					

				</td>
				<td width =  10%>
					<a href = "#/purposedriven-play"> <IMG ng-src="{{ myVideos[2].img }}" width = '150px' > </IMG> </a>	


				</td>
				<td width =  10%>

					<a href = "#/purposedriven-play">  <IMG ng-src="{{ myVideos[3].img }}" width = '150px' > </IMG> </a>	
		
				</td>

			</tr>			
				<tr >
					<td ng-repeat ="videos in myVideos">
						
						{{ videos.desc}}
						</p>				
					</td>
				
				</tr>

		</table>
	</center>
</div>
  	
