



 

<br> <center> <h1> Purpose Driven Videos</h1> </center> 

<div class="container" style="position:relative;">
	<div class="row-fluid">
		<center> 
			<table border = '1' width = 50%>
				<tr>
					<th height = 30%> 
						<img  src = "img/purposedrivenPlaceholder/PurposeDriven.jpg" height = '400px' </img>
					</th> 
				</tr> 
			</table> 
		</center> 
		
	</div>
<div>



  	<div data-ng-controller="PurposeDrivenController" ng-init = "get_videos(); get_videos_unlocked()" > 


{{ videotoWatch }}
  	
  		<select ng-model="videoID" ng-options= "video.id as video.title for video in purposeVideos.Videos | orderBy:'title'"></select>

			<center>
			Select a video to view !


				<table border = '1' width = 60%> 
					<tr>
						<td  ng-repeat = "video in purposeVideos.Videos" >
								 <IMG ng-src="{{ video.image }}" width = 300px > 
						</td>
					</tr>			
						<tr >
							<td  ng-repeat = "video in purposeVideos.Videos" >
									 {{ video.description }}
							</td>
							
						</tr>

						<tr >
							<td  ng-repeat = "userVideo in purposeVideosUnlocked.Unlocked" >
								<div ng-show="{{ userVideo.s }}">  
									<button ng-click = "get_test(purposeVideos.Videos[userVideo.no].vlink,userVideo.no)"> {{ userVideo.no }} 
									</button>

								 </div>
									 
							</td>
							
						</tr>

				</table>
			</center>
</div>
  	
<script>



</script>