<html ng-app>
  <head>
    <script src="http://code.angularjs.org/1.2.3/angular.min.js"></script>
  </head>
  <body>
  <center> <h1> Purpose Driven Videos</h1> </center>

<div class="container" id="tournament" style="position:relative;">
	<div class="row-fluid">
		<center> 
			<table border = '1' width = 50%>
				<tr>
					<th height = 30%> 
						<img  src = "/purposedrivenPlaceholder/PurposeDriven.jpg" height = '400px' </img>
					</th> 
				</tr> 
			</table> 
		</center> 
		
	</div>
<div>

<div>
<center>
Select a video to view !
	<form method="Post" action=" /purposedriven-play">
	<table border = '1' width = 50%> 
		<tr>
			<td width =  10%>
				    <button>
						<IMG ng-src="img/purposedrivenPlaceholder/Purpose Driven 1.jpg" width = '150px' > </IMG>
					</button>
 
			</td>
			<td width =  10%>
				    <button>
						<IMG ng-src="img/purposedrivenPlaceholder/Purpose Driven 2.jpg" width = '150px'> </IMG>
					</button>			

			</td>
			<td width =  10%>
				    <button disabled = 'true'>
						<IMG ng-src="img/purposedrivenPlaceholder/Purpose Driven 3.jpg" width = '150px' > </IMG>
					</button>

			</td>
			<td width =  10%>
				    <button disabled = 'true'>
						<IMG ng-src="img/purposedrivenPlaceholder/Purpose Driven 4.jpg" width = '150px' > </IMG>
					</button>			
			</td>
		</tr>			
			<tr>
				<td>
					Watch how Singpath owner plans to change the world !				
				</td>
				<td>
					Microsoft talks about coding.				
				</td>
				<td>
					<font color = 'red'> Video is locked </font>					
				</td>
				<td>
					<font color = 'red'> Video is locked </font>			
				</td>				
			</tr>
			

		

	</table>
</center>
</div>
</body>